# 01 data overview

The goal of this project is to use classification models to predict student graduation status and to identify the key factors influencing graduation. By evaluating different classification models and analyzing feature importance, the project aims to provide actionable recommendations to help institutions improve graduation rates and better support at-risk students.

In [25]:

import pandas as pd

In [2]:
import os

os.chdir("..")
#print("Current working dir:", os.getcwd())
#print("Files in raw folder:", os.listdir("data/raw"))

In [3]:
df1 = pd.read_csv("data/raw/Cohort_3.csv")

In [4]:
df2 = pd.read_csv("data/raw/Cohort_3_DA.csv")

In [7]:
df = pd.concat([df1, df2])
df.tail()

,Timestamp,Id. No,Age range,Gender,Country,Where did you hear about Everything Data?,How many years of learning experience do you have in the field of data?,Which track are you applying for?,How many hours per week can you commit to learning?,What is your main aim for joining the mentorship program?,What is your motivation to join the Everything Data mentorship program?,How best would you describe your skill level in the track you are applying for?,Have you completed the everything data aptitude test for your track?,Total score,Graduated,ID No.
47,12/2/2024 21:06:50,NaN,25-34 years,Male,Kenya,WhatsApp,Less than six months,Data analysis,7-14 hours,Upskill,My motivation to join the Everything Data ment...,Elementary - I have theoretical understanding ...,No,62.33,No,DA348
48,12/3/2024 20:11:37,NaN,25-34 years,Male,Kenya,LinkedIn,Less than six months,Data analysis,7-14 hours,Build a project portfolio,Heavy inspiration from the collaboration and i...,Elementary - I have theoretical understanding ...,Yes,70.67,No,DA349
49,11/28/2024 15:18:09,NaN,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data analysis,more than 14 hours,Learn data afresh,I am interested in building my data skills so ...,Elementary - I have theoretical understanding ...,Yes,70.67,No,DA350
50,11/29/2024 16:49:09,NaN,25-34 years,Female,Kenya,WhatsApp,Less than six months,Data analysis,more than 14 hours,Build a project portfolio,Iâ€™m eager to join the the mentorship program t...,Elementary - I have theoretical understanding ...,Yes,65.67,Yes,DA351
51,12/1/2024 0:11:49,NaN,25-34 years,Male,Kenya,Twitter,6 months - 1 year,Data analysis,7-14 hours,Upskill,I developed an interest in data after graduati...,Intermediate - I have theoretical knowledge an...,Yes,70.67,No,DA352

1. <b>Schema Checkes; data types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115 entries, 0 to 51
Data columns (total 16 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Timestamp                                                                        115 non-null    object
 1   Id. No                                                                           63 non-null     object
 2   Age range                                                                        115 non-null    object
 3   Gender                                                                           115 non-null    object
 4   Country                                                                          115 non-null    object
 5   Where did you hear about Everything Data?                                        115 non-null    object
 6   How many years of learning experience do you have in the field of data?          115 non-null    object
 7   Which track are you applying for?                                                115 non-null    object
 8   How many hours per week can you commit to learning?                              115 non-null    object
 9   What is your main aim for joining the mentorship program?                        115 non-null    object
 10  What is your motivation to join the Everything Data mentorship program?          115 non-null    object
 11  How best would you describe your skill level in the track you are applying for?  115 non-null    object
 12  Have you completed the everything data aptitude test for your track?             115 non-null    object
 13  Total score                                                                      115 non-null    float64
 14  Graduated                                                                        115 non-null    object
 15  ID No.                                                                           52 non-null     object
dtypes: float64(1), object(15)
memory usage: 15.3+ KB

In [9]:
#drop the id no columns
df.drop(columns=['Id. No', 'ID No.'], inplace=True)

In [10]:
df.head(2)

,Timestamp,Age range,Gender,Country,Where did you hear about Everything Data?,How many years of learning experience do you have in the field of data?,Which track are you applying for?,How many hours per week can you commit to learning?,What is your main aim for joining the mentorship program?,What is your motivation to join the Everything Data mentorship program?,How best would you describe your skill level in the track you are applying for?,Have you completed the everything data aptitude test for your track?,Total score,Graduated
0,12/1/2024 23:50:47,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,12/3/2024 9:35:19,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No

In [11]:
#Covert Timestamp to datetime from a string
import datetime as dt
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df.dtypes

Timestamp                                                                          datetime64[ns]
Age range                                                                                  object
Gender                                                                                     object
Country                                                                                    object
Where did you hear about Everything Data?                                                  object
How many years of learning experience do you have in the field of data?                    object
Which track are you applying for?                                                          object
How many hours per week can you commit to learning?                                        object
What is your main aim for joining the mentorship program?                                  object
What is your motivation to join the Everything Data mentorship program?                    object
How best would you describe your skill level in the track you are applying for?            object
Have you completed the everything data aptitude test for your track?                       object
Total score                                                                               float64
Graduated                                                                                  object
dtype: object

In [12]:
df.head(2)

,Timestamp,Age range,Gender,Country,Where did you hear about Everything Data?,How many years of learning experience do you have in the field of data?,Which track are you applying for?,How many hours per week can you commit to learning?,What is your main aim for joining the mentorship program?,What is your motivation to join the Everything Data mentorship program?,How best would you describe your skill level in the track you are applying for?,Have you completed the everything data aptitude test for your track?,Total score,Graduated
0,2024-12-01 23:50:47,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,2024-12-03 09:35:19,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No

2. <b>Renaming the columns

In [13]:
df.columns

Index(['Timestamp', 'Age range', 'Gender', 'Country',
       'Where did you hear about Everything Data?',
       'How many years of learning experience do you have in the field of data?',
       'Which track are you applying for?',
       'How many hours per week can you commit to learning?',
       'What is your main aim for joining the mentorship program?',
       'What is your motivation to join the Everything Data mentorship program?',
       'How best would you describe your skill level in the track you are applying for?',
       'Have you completed the everything data aptitude test for your track?',
       'Total score', 'Graduated'],
      dtype='object')

In [15]:
new_columns = [
    "timestamp",
    "age_range",
    "gender",
    "country",
    "referral_source",
    "years_experience",
    "track_applied",
    "weekly_commitment_hours",
    "main_aim",
    "motivation",
    "skill_level",
    "aptitude_test_completed",
    "total_score",
    "graduated"
]
df.columns = new_columns

In [16]:
df.head()

,timestamp,age_range,gender,country,referral_source,years_experience,track_applied,weekly_commitment_hours,main_aim,motivation,skill_level,aptitude_test_completed,total_score,graduated
0,2024-12-01 23:50:47,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,2024-12-03 09:35:19,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No
2,2024-12-03 19:16:49,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,Iâ€™m motivated to join Everything Data to enhan...,Intermediate - I have theoretical knowledge an...,Yes,64.33,Yes
3,2024-12-03 12:52:36,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,7-14 hours,Upskill,I'd like to upskill and Join the Data Community,Intermediate - I have theoretical knowledge an...,Yes,75.00,No
4,2024-12-03 18:12:27,18-24 years,Male,Kenya,WhatsApp,Less than six months,Data science,7-14 hours,Upskill,I aim to join the mentorship program to enhanc...,Beginner - I have NO learning or work experien...,Yes,59.00,No

3. <b>Categorical Standardization

In [17]:
#Keeep the years_experience ordered and categorical for visualization
experience_categories = [
    "Less than six months",
    "6 months - 1 year",
    "1-3 years",
    "4-6 years"
]

df["years_experience"] = pd.Categorical(
    df["years_experience"], 
    categories=experience_categories, 
    ordered=True
)

In [18]:
#ordered categories
commitment_categories = ["less than 6 hours", "7-14 hours", "more than 14 hours"]

df["weekly_commitment_hours"] = pd.Categorical(
    df["weekly_commitment_hours"], 
    categories=commitment_categories, 
    ordered=True
)

We have overlaps like "Upskill" and "both upskilling and connecting with fellow data professionals".
To make analysis meaningful, I could consolidate:

Upskill â†’ includes "Upskill" and "both upskilling and connecting..."

Learn afresh â†’ "Learn data afresh"

Portfolio â†’ "Build a project portfolio"

Networking â†’ "Connect with fellow data professionals"

In [19]:

def clean_main_aim(x):
    if "upskill" in x.lower():
        return "Upskill"
    elif "afresh" in x.lower():
        return "Learn afresh"
    elif "portfolio" in x.lower():
        return "Portfolio"
    elif "connect" in x.lower():
        return "Networking"
    else:
        return "Other"

df["main_aim"] = df["main_aim"].apply(clean_main_aim)
df["main_aim"].value_counts()

main_aim
Upskill         74
Learn afresh    23
Portfolio       15
Networking       2
Other            1
Name: count, dtype: int64

The raw labels are long and slightly overlapping and unordered. A cleaned version might look like:

Beginner â†’ "Beginner - I have NO learning or work experience"

Elementary â†’ "Elementary - I have theoretical understanding of basics"

Intermediate â†’ "Intermediate - I have theoretical knowledge + experience"

In [20]:
skill_level_categories = ["Beginner", "Elementary", "Intermediate"]

df["skill_level"] = pd.Categorical(
    df["skill_level"].replace({
        "Beginner - I have NO learning or work experience in data analysis/ data science": "Beginner",
        "Elementary - I have theoretical understanding of basic data analysis/ data science concepts": "Elementary",
        "Intermediate - I have theoretical knowledge and experience in data analysis/ data science": "Intermediate"
    }),
    categories=skill_level_categories,
    ordered=True
)
df["skill_level"].value_counts()

skill_level
Elementary      56
Beginner        42
Intermediate    16
Name: count, dtype: int64

We can kee age ranges are ordinal categories, so the goal is to represent them in a way that shows the distribution across age groups clearly.

In [21]:
age_categories = ["18-24 years", "25-34 years", "35-44 years", "45-54 years"]

df["age_range"] = pd.Categorical(df["age_range"], categories=age_categories, ordered=True)

In [22]:
df.head()

,timestamp,age_range,gender,country,referral_source,years_experience,track_applied,weekly_commitment_hours,main_aim,motivation,skill_level,aptitude_test_completed,total_score,graduated
0,2024-12-01 23:50:47,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner,Yes,58.67,No
1,2024-12-03 09:35:19,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary,Yes,70.00,No
2,2024-12-03 19:16:49,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,Iâ€™m motivated to join Everything Data to enhan...,Intermediate,Yes,64.33,Yes
3,2024-12-03 12:52:36,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,7-14 hours,Upskill,I'd like to upskill and Join the Data Community,Intermediate,Yes,75.00,No
4,2024-12-03 18:12:27,18-24 years,Male,Kenya,WhatsApp,Less than six months,Data science,7-14 hours,Upskill,I aim to join the mentorship program to enhanc...,Beginner,Yes,59.00,No

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                115 non-null    datetime64[ns]
 1   age_range                115 non-null    category
 2   gender                   115 non-null    object
 3   country                  115 non-null    object
 4   referral_source          115 non-null    object
 5   years_experience         115 non-null    category
 6   track_applied            115 non-null    object
 7   weekly_commitment_hours  115 non-null    category
 8   main_aim                 115 non-null    object
 9   motivation               115 non-null    object
 10  skill_level              114 non-null    category
 11  aptitude_test_completed  115 non-null    object
 12  total_score              115 non-null    float64
 13  graduated                115 non-null    object
dtypes: category(4), datetime64[ns](1), float64(1), object(8)
memory usage: 11.0+ KB

Save the cleaned data ready for Exploratory data analysis

In [24]:
df.to_csv("data/interim/cleaned_df.csv", index=False)