# 01 data overview

In [1]:
# TODO: implement
import pandas as pd

In [2]:
import os

os.chdir("..")
#print("Current working dir:", os.getcwd())
#print("Files in raw folder:", os.listdir("data/raw"))

In [3]:
df = pd.read_csv("data/raw/Cohort_3.csv")

1. <b>Schema Checkes; data types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Timestamp                                                                        63 non-null     object
 1   Id. No                                                                           63 non-null     object
 2   Age range                                                                        63 non-null     object
 3   Gender                                                                           63 non-null     object
 4   Country                                                                          63 non-null     object
 5   Where did you hear about Everything Data?                                        63 non-null     object
 6   How many years of learning experience do you have in the field of data?          63 non-null     object
 7   Which track are you applying for?                                                63 non-null     object
 8   How many hours per week can you commit to learning?                              63 non-null     object
 9   What is your main aim for joining the mentorship program?                        63 non-null     object
 10  What is your motivation to join the Everything Data mentorship program?          63 non-null     object
 11  How best would you describe your skill level in the track you are applying for?  63 non-null     object
 12  Have you completed the everything data aptitude test for your track?             63 non-null     object
 13  Total score                                                                      63 non-null     float64
 14  Graduated                                                                        63 non-null     object
dtypes: float64(1), object(14)
memory usage: 7.5+ KB

In [5]:
df.head(2)

,Timestamp,Id. No,Age range,Gender,Country,Where did you hear about Everything Data?,How many years of learning experience do you have in the field of data?,Which track are you applying for?,How many hours per week can you commit to learning?,What is your main aim for joining the mentorship program?,What is your motivation to join the Everything Data mentorship program?,How best would you describe your skill level in the track you are applying for?,Have you completed the everything data aptitude test for your track?,Total score,Graduated
0,12/1/2024 23:50:47,DS301,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,12/3/2024 9:35:19,DS302,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No

In [6]:
#Covert Timestamp to datetime from a string
import datetime as dt
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df.dtypes

Timestamp                                                                          datetime64[ns]
Id. No                                                                                     object
Age range                                                                                  object
Gender                                                                                     object
Country                                                                                    object
Where did you hear about Everything Data?                                                  object
How many years of learning experience do you have in the field of data?                    object
Which track are you applying for?                                                          object
How many hours per week can you commit to learning?                                        object
What is your main aim for joining the mentorship program?                                  object
What is your motivation to join the Everything Data mentorship program?                    object
How best would you describe your skill level in the track you are applying for?            object
Have you completed the everything data aptitude test for your track?                       object
Total score                                                                               float64
Graduated                                                                                  object
dtype: object

In [7]:
df.head(2)

,Timestamp,Id. No,Age range,Gender,Country,Where did you hear about Everything Data?,How many years of learning experience do you have in the field of data?,Which track are you applying for?,How many hours per week can you commit to learning?,What is your main aim for joining the mentorship program?,What is your motivation to join the Everything Data mentorship program?,How best would you describe your skill level in the track you are applying for?,Have you completed the everything data aptitude test for your track?,Total score,Graduated
0,2024-12-01 23:50:47,DS301,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,2024-12-03 09:35:19,DS302,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No

2. <b>Renaming the columns

In [8]:
df.columns

Index(['Timestamp', 'Id. No', 'Age range', 'Gender', 'Country',
       'Where did you hear about Everything Data?',
       'How many years of learning experience do you have in the field of data?',
       'Which track are you applying for?',
       'How many hours per week can you commit to learning?',
       'What is your main aim for joining the mentorship program?',
       'What is your motivation to join the Everything Data mentorship program?',
       'How best would you describe your skill level in the track you are applying for?',
       'Have you completed the everything data aptitude test for your track?',
       'Total score', 'Graduated'],
      dtype='object')

In [9]:
new_columns = [
    "timestamp",
    "id_number",
    "age_range",
    "gender",
    "country",
    "referral_source",
    "years_experience",
    "track_applied",
    "weekly_commitment_hours",
    "main_aim",
    "motivation",
    "skill_level",
    "aptitude_test_completed",
    "total_score",
    "graduated"
]
df.columns = new_columns

In [10]:
df.head()

,timestamp,id_number,age_range,gender,country,referral_source,years_experience,track_applied,weekly_commitment_hours,main_aim,motivation,skill_level,aptitude_test_completed,total_score,graduated
0,2024-12-01 23:50:47,DS301,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner - I have NO learning or work experien...,Yes,58.67,No
1,2024-12-03 09:35:19,DS302,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary - I have theoretical understanding ...,Yes,70.00,No
2,2024-12-03 19:16:49,DS303,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,I’m motivated to join Everything Data to enhan...,Intermediate - I have theoretical knowledge an...,Yes,64.33,Yes
3,2024-12-03 12:52:36,DS304,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,7-14 hours,Upskill,I'd like to upskill and Join the Data Community,Intermediate - I have theoretical knowledge an...,Yes,75.00,No
4,2024-12-03 18:12:27,DS305,18-24 years,Male,Kenya,WhatsApp,Less than six months,Data science,7-14 hours,Upskill,I aim to join the mentorship program to enhanc...,Beginner - I have NO learning or work experien...,Yes,59.00,No

3. <b>Categorical Standardization

In [11]:
#Keeep the years_experience ordered and categorical for visualization
experience_categories = [
    "Less than six months",
    "6 months - 1 year",
    "1-3 years",
    "4-6 years"
]

df["years_experience"] = pd.Categorical(
    df["years_experience"], 
    categories=experience_categories, 
    ordered=True
)

In [12]:
#ordered categories
commitment_categories = ["less than 6 hours", "7-14 hours", "more than 14 hours"]

df["weekly_commitment_hours"] = pd.Categorical(
    df["weekly_commitment_hours"], 
    categories=commitment_categories, 
    ordered=True
)

We have overlaps like "Upskill" and "both upskilling and connecting with fellow data professionals".
To make analysis meaningful, I could consolidate:

Upskill → includes "Upskill" and "both upskilling and connecting..."

Learn afresh → "Learn data afresh"

Portfolio → "Build a project portfolio"

Networking → "Connect with fellow data professionals"

In [13]:

def clean_main_aim(x):
    if "upskill" in x.lower():
        return "Upskill"
    elif "afresh" in x.lower():
        return "Learn afresh"
    elif "portfolio" in x.lower():
        return "Portfolio"
    elif "connect" in x.lower():
        return "Networking"
    else:
        return "Other"

df["main_aim"] = df["main_aim"].apply(clean_main_aim)
df["main_aim"].value_counts()

main_aim
Upskill         40
Learn afresh    14
Portfolio        7
Networking       2
Name: count, dtype: int64

The raw labels are long and slightly overlapping and unordered. A cleaned version might look like:

Beginner → "Beginner - I have NO learning or work experience"

Elementary → "Elementary - I have theoretical understanding of basics"

Intermediate → "Intermediate - I have theoretical knowledge + experience"

In [14]:
skill_level_categories = ["Beginner", "Elementary", "Intermediate"]

df["skill_level"] = pd.Categorical(
    df["skill_level"].replace({
        "Beginner - I have NO learning or work experience in data analysis/ data science": "Beginner",
        "Elementary - I have theoretical understanding of basic data analysis/ data science concepts": "Elementary",
        "Intermediate - I have theoretical knowledge and experience in data analysis/ data science": "Intermediate"
    }),
    categories=skill_level_categories,
    ordered=True
)
df["skill_level"].value_counts()

skill_level
Elementary      28
Beginner        26
Intermediate     9
Name: count, dtype: int64

We can kee age ranges are ordinal categories, so the goal is to represent them in a way that shows the distribution across age groups clearly.

In [19]:
age_categories = ["18-24 years", "25-34 years", "35-44 years", "45-54 years"]

df["age_range"] = pd.Categorical(df["age_range"], categories=age_categories, ordered=True)

In [20]:
df.head()

,timestamp,id_number,age_range,gender,country,referral_source,years_experience,track_applied,weekly_commitment_hours,main_aim,motivation,skill_level,aptitude_test_completed,total_score,graduated
0,2024-12-01 23:50:47,DS301,18-24 years,Male,Kenya,Word of mouth,Less than six months,Data science,less than 6 hours,Upskill,to enter into the data analysis career,Beginner,Yes,58.67,No
1,2024-12-03 09:35:19,DS302,25-34 years,Male,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,To grow and improve my skills in data science ...,Elementary,Yes,70.00,No
2,2024-12-03 19:16:49,DS303,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,more than 14 hours,Upskill,I’m motivated to join Everything Data to enhan...,Intermediate,Yes,64.33,Yes
3,2024-12-03 12:52:36,DS304,18-24 years,Female,Kenya,WhatsApp,6 months - 1 year,Data science,7-14 hours,Upskill,I'd like to upskill and Join the Data Community,Intermediate,Yes,75.00,No
4,2024-12-03 18:12:27,DS305,18-24 years,Male,Kenya,WhatsApp,Less than six months,Data science,7-14 hours,Upskill,I aim to join the mentorship program to enhanc...,Beginner,Yes,59.00,No

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                63 non-null     datetime64[ns]
 1   id_number                63 non-null     object
 2   age_range                63 non-null     category
 3   gender                   63 non-null     object
 4   country                  63 non-null     object
 5   referral_source          63 non-null     object
 6   years_experience         63 non-null     category
 7   track_applied            63 non-null     object
 8   weekly_commitment_hours  63 non-null     category
 9   main_aim                 63 non-null     object
 10  motivation               63 non-null     object
 11  skill_level              63 non-null     category
 12  aptitude_test_completed  63 non-null     object
 13  total_score              63 non-null     float64
 14  graduated                63 non-null     object
dtypes: category(4), datetime64[ns](1), float64(1), object(9)
memory usage: 6.4+ KB

Save the cleaned data ready for Exploratory data analysis

In [22]:
df.to_csv("data/interim/cleaned_data.csv", index=False)